body {
    margin: 0px;
    padding: 0px;
}

header {
    .toolbar {
        background-color: $background1;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }
    .page-title {
        background-color: $background2;
        color: $text;
        font-size: 150%;
        padding: 1rem;
    }
}

.page-container {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: $background3;

    .menu-container {
        position: sticky;
        top: 0px;
    }

    .menu-title {
        color: $text;
        text-transform: uppercase;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
    }
    
    ul {
        background-color: $background3;
        // gap: 5%;
        // color: $text-border;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
            background-color: $background4;
            // padding: 0.25rem;
            border: 1px solid $background1;
        }
    }
}

main {
    background-color: $background1;
    width: 100vw;
    display: flex;
    justify-content: space-around;

    .card {
        margin: 3% 1%;
        .member-name {
            text-align: center;
        }
    }

    .list {
        display: grid;
        gap: 1rem;
    
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        align-content: center;
    }

    div.list > div {
        padding: 1rem;
        border: 2px solid $text-border;
        border-radius: 5px;
        background-color: $text;
        color: $text-border;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        
        img {
            border-radius: 45px;
        }
    }
}

footer {
    background-color: $background4;
    color: $text-border;
    padding: 0.5rem;
}